rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /users/{userId}/inventoryItems/{inventoryItemId} {
      allow read, list, create, update, delete: if isOwner(userId);
    }
    
    match /users/{userId}/shoppingListItems/{shoppingListItemId} {
      allow read, list, create, update, delete: if isOwner(userId);
    }

    match /users/{userId}/wasteTipPreferences/{wasteTipPreferenceId} {
      allow read, list, create, update, delete: if isOwner(userId);
    }

    match /wasteReductionTips/{tipId} {
      allow get, list: if isSignedIn();
    }
  }
}